<button (click)="routeService.routeToTask(1)">1</button>
<button (click)="routeService.routeToTask(2)">2</button>
<button (click)="routeService.routeToTask(3)">3</button>
<button (click)="routeService.routeToTask(4)">4</button>
<button (click)="routeService.routeToTask(5)">5</button>
<button (click)="routeService.routeToTask(6)">6</button>
<router-outlet></router-outlet>
<!--
<button routerLink="/task/1" routerLinkActive="active" ariaCurrentWhenActive="page">1</button>
<button routerLink="/task/2" routerLinkActive="active" ariaCurrentWhenActive="page">2</button>
<button routerLink="/task/3" routerLinkActive="active" ariaCurrentWhenActive="page">3</button>
<button routerLink="/task/4" routerLinkActive="active" ariaCurrentWhenActive="page">4</button>
<button routerLink="/task/5" routerLinkActive="active" ariaCurrentWhenActive="page">5</button>
<router-outlet></router-outlet>
-->